<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week 1  - Intro to Storyboards - Shweta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDB20C201CB879DA007EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB20C341CB879DA007EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB20C3F1CB879DB007EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
